<!-- Modal -->
<div class="modal fade" id="howItWorksModal" tabindex="-1" aria-labelledby="How does it work?" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2>How ChurnIt works</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="flex-container">
          <!-- Explanations -->
          <div class="text-center content">
              <div class="icon"><i class="fa-regular fa-credit-card"></i></div>
              <p>Select your current card</p>
          </div>
          <div class="text-center content">
            <div class="icon"><i class="fa-solid fa-chart-column"></i></div>
            <p>Tell us how you use your card</p>
          </div>
          <div class="text-center content">
              <div class="icon"><i class="fa-solid fa-calendar-day"></i></div>
              <p>ChurnIt finds the best cards for you</p>
          </div>
        </div>
      </div>
      <%# <div class="modal-footer">
        <button type="button" class="btn-main" data-bs-dismiss="modal">Close</button> %>
      <%# </div> %>
    </div>
  </div>
</div>
