<!-- Modal -->
<div class="modal fade" id="howItWorksModal" tabindex="-1" aria-labelledby="How does it work?" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center content"><h2>How it works</h2></div>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="flex-main">
          <!-- Explanations -->
          <div class="text-center content">
            <div class="icon"><i class="fa-solid fa-arrow-up-wide-short"></i></div>
            <p>Tell us your preference</p>
          </div>
          <div class="text-center content">
              <div class="icon"><i class="fa-brands fa-cc-amex"></i></div>
              <p>Select & compare your card</p>
          </div>
          <div class="text-center content">
              <div class="icon"><i class="fa-solid fa-chart-column"></i></div>
              <p>Get insights</p>
          </div>
        </div>
      </div>
      <%# <div class="modal-footer">
        <button type="button" class="btn-main" data-bs-dismiss="modal">Close</button> %>
      <%# </div> %>
    </div>
  </div>
</div>
