// Define variables for your color scheme

$white: #ffffff;
$black: #000000;
$off-white: #F6F6F6; // section background color
$teal: #007373; // landing background color, main button color
$light-gray: #e4e4e4 // used for certain div backrounds, e.g. compare page cards
