.wrapper-analysis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.analysis-first {
  width: 40vw;
  padding: 24px;
}

.analysis-second {
  width: 50vw;
  background-color: #ffffff;
  border-radius: 32px;
  padding: 40px;
  height: 100%;
  justify-self: flex-end;
}

.analysis-second-inner {
  width: 100%;
  height: 92%;
  background: #e9e6e6;
  padding: 40px;
}

// content displayed horizontally on desktop
@media screen and (min-width: 900px) {
  .wrapper-analysis {
    flex-direction: row;
  }
}

.analysis-factor {
  border-radius: 32px;
  width: 232px;
  height: 120px;
  padding: 24px;
  text-align: start;
}

.nav-link {
  color: #525050 !important;
}

.analysis-header {
  padding: 0 0 16px 0;
}

.fees-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 24px 0px 24px 0px;
  justify-content: space-between;
}

#gradient-blue-green {
  background: rgb(27,27,222);
  background: linear-gradient(45deg, rgba(27,27,222,1) 39%, rgba(67,221,68,1) 100%);
}

#gradient-pink-purple {
  background: rgb(228,21,131);
  background: linear-gradient(45deg, rgba(228,21,131,1) 31%, rgba(144,52,201,1) 86%, rgba(123,60,219,1) 100%);
}

#gradient-red-orange {
  background: rgb(189,28,81);
  background: linear-gradient(45deg, rgba(189,28,81,1) 51%, rgba(219,141,60,1) 100%);
}

#gradient-green-blue {
  background: #e81c8a;
  background: linear-gradient(45deg, #e81c8a 0%, #516ad0 100%);
}

.main2 {
  padding: 32px;
}
