.compare-headers {
  display: flex;
  justify-content: space-between;
}

.compare-card-grid {
  padding: 20px 0 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px
}

// .compare-content-sq are the grid squares for compare page cards
.compare-con-sq {
  display: flex;
  flex-direction: column;
  height: 96px;
  width: 128px;
  text-align: center;
}

// grid rectangles for compare page cards (for reward category and bonus point criteria)
.compare-con-req {
  display: flex;
  flex-direction: column;
  height: 96px;
  width: 100%;
  text-align: center;
}

// row-cat-text is for the row category names in the compare page cards
.row-cat-text {
  font-size: smaller;
  text-align: center;
  line-height: 2px;
}

// row-con text is for the content squares in the compare page cards
.row-con-text {
  padding: 20px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: larger;
  max-height: 64px;
}

// backgrounds for each content square/rectangle in the compare cards
#reward-category {
  background: rgb(31,100,228); /* fallback for old browsers */
  background: linear-gradient(45deg, rgba(31,100,228,1) 0%, rgba(76,224,63,1) 100%);
}

#bonus-points {
  background: #e81c8a; /* fallback for old browsers */
  background: linear-gradient(45deg, #e81c8a 0%, #516ad0 100%);
}

#interest-free-period {
  background-color: #FF9A8B; /* fallback for old browsers */
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

}

#cashback-bonus {
  background-color: #08AEEA; /* fallback for old browsers */
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}

#foreign-transfer-fee {
  background: rgb(31,100,228); /* fallback for old browsers */
  background: linear-gradient(45deg, rgba(31,100,228,1) 0%, rgba(76,224,63,1) 100%);
}

#card-annual-fee {
  background: #B993D6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
  background: linear-gradient(to right, #8CA6DB, #B993D6);
}
