<footer>
<div class="footer">
    <div class="footer-content">
      <div class="links">
        <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-fw fa-github"></i></a>
        <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
        <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
        <br>
        <p>© 2022 Churnit </p>
      </div>
      <div>
        <img src="https://res.cloudinary.com/fantastic-four/image/upload/v1646884235/ChurnIt-logos_white_hac6sq.png" alt="ChurnIt logo" class="footer-logo">
      </div>
      <div class="vert-links">
        <ul>
          <li><a href="#">About the team</a></li>
          <li><a href="#">Our methodology</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Disclaimer</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
