<footer>
  <div class="d-flex text-center">
    <div class="container align-middle">
      <a href="/cards" class="link-primary">View <i class="fa-solid fa-credit-card"></i></a>
      <a href="https://github.com/diplobrat/churnit" class="link-primary">Peek <i class="fa-brands fa-github"></i></a>
      <a href="mailto:fantasticfourcollaborative@gmail.com?subject=ChurnIt" class="link-primary">Contact <i class="fa-solid fa-at"></i></a>
    </div>
  </div>
</footer>
