<header>
  <div class="header">
    <div class="header-content">
      <div class="header-logo">
        <img src="https://res.cloudinary.com/fantastic-four/image/upload/v1647497978/ChurnIt-logos_black_favicon_jzub9i.png" alt="ChurnIt Logo">
      </div>
      <div class="links">
        <a href="/cards" class="link-primary"><i class="fa-solid fa-credit-card"></i>View</a>
        <a href="https://github.com/diplobrat/churnit" class="link-primary"><i class="fa-brands fa-github"></i>Peek</a>
        <a href="mailto:fantasticfourcollaborative@gmail.com?subject=ChurnIt" class="link-primary"><i class="fa-solid fa-at"></i>Contact</a>
      </div>
    </div>
  </div>
</header>
