<div class="logo">
  <a id="logo" href="index.html" class="logo-left">
  <img src="https://res.cloudinary.com/fantastic-four/image/upload/v1646884235/ChurnIt-logos_white_hac6sq.png" alt="ChurnIt logo">
  </a>
</div>

<div class="navbar">
  <div class="blob">
  </div>
</div>
