<!-- TODO: Render header here -->

<!-- The whole 'long' homepage exists within the 'fullpage' div -->
<div id="fullpage">
  <!-- Then each'section' within the longer page has a 'section' div -->
	<div class="section" id="section-1">
    <div class="fp-bg"></div> <!-- This line is required in EACH SECTION for parallax effect -->
    Landing page
  </div>
	<div class="section" id="section-2">
    How it works
    <div class="fp-bg"></div>
  </div>
<!-- NOTE: The 'personalisation' part will be one form. The form will wrap AROUND each of the question sections. -->
	<div class="section" id="section-3">
    What's your annual income?
    <div class="fp-bg"></div>
  </div>
  <div class="section" id="section-4">
    How much do you spend each month?
    <div class="fp-bg"></div>
  </div>
	<div class="section" id="section-5">
    What do you look for in a card?
    <div class="fp-bg"></div>
  </div>
  <div class="section" id="section-6">
    Which card do you currently use?
    <div class="fp-bg"></div>
  </div>
</div>

<!-- TODO: Render footer here -->
