<!-- TODO: Render header here -->
<!-- The whole 'long' homepage exists within this 'fullpage' div -->
<div id="fullpage">
  <!-- Then each'section' within the longer page has a 'section' div -->
	<div class="section" id="section0">
    <h1>ChurnIt</h1>
    <h2>Credit cards made simple.</h2>
    <div>
      <a href="#" class="btn btn-white btn- animate">Discover</a>
    </div>
  </div>
	<div class="section" id="section1">
    How it works
    <div>
      <a href="#" class="btn btn-white btn- animate">Next</a>
    </div>
  </div>
<!-- NOTE: The 'personalisation' part will be one form. The form will wrap AROUND the four question sections. -->
	<div class="section" id="section2">
    Which card do you currently use?
    <div>
     <a href="#" class="btn btn-white btn- animate">Next</a>
    </div>
  </div>
  <div class="section" id="section3">
    What's your annual income?
    <div>
      <a href="#" class="btn btn-white btn- animate">Next</a>
    </div>
  </div>
  <div class="section" id="section4">
    How much do you spend each month?
    <div>
      <a href="#" class="btn btn-white btn- animate">Next</a>
    </div>
  </div>
	<div class="section" id="section5">
    What do you look for in a card?
    <div>
      <a href="#" class="btn btn-white btn- animate">Next</a>
    </div>
  </div>
</div>

<!-- TODO: Render footer here -->
