<!-- TODO: Render header here -->

<!-- The whole 'long' homepage exists within the 'fullpage' div -->
<div id="fullpage">
  <!-- Then each'section' within the longer page has a 'section' div -->
	<div class="section" id="section1">
    Landing page
  </div>
	<div class="section" id="section2">
    How it works
  </div>
<!-- NOTE: The 'personalisation' part will be one form. The form will wrap AROUND each of the question sections. -->
	<div class="section" id="section3">
    What's your annual income?
  </div>
  <div class="section" id="section4">
    How much do you spend each month?
  </div>
	<div class="section" id="section5">
    What do you look for in a card?
  </div>
  <div class="section" id="section6">
    Which card do you currently use?
  </div>
</div>

<!-- TODO: Render footer here -->
