<h1>Pages#analysis</h1>
<div class="analysis">
  <div class="analysis-left">
    <div class="analysis-header">
      <h4>Cancel your card before...</h4>
      <p><%= Date.today %></p>
      <a href='#' class="btn btn-white btn- animate">Add to Google Calender</a>
    </div>
    <h5>Factors</h5>
    <div class="factors">
      <div class="factors-container">
        <h5>Annual fee</h5>
        <p>Your annual fee are high</p>
        <p>More info<i class="fa-solid fa-angle-down fa-lg"></i></p>
      </div>
      <div class="factors-container">
        <h5>Annual fee</h5>
        <p>Your annual fee are high</p>
        <p>More Info<i class="fa-solid fa-angle-down fa-lg"></i></p>
      </div>
      <div class="factors-container">
        <h5>Annual fee</h5>
        <p>Your annual fee are high</p>
        <p>More info<i class="fa-solid fa-angle-down fa-lg"></i></p>
      </div>
    </div>
  </div>
  <div class="analysis-right">
    <div class="right-header">
      <div class="links">
        <a href="#">Solutions</a>
        <a href="#">Analysis</a>
        <a href="#">Forecast</a>
      </div>
      <div>
        <h5>_ChurnIt</h5>
      </div>
    </div>
      <div class="right-content">
        <h4>Solutions & Next Steps</h4>
        <p>If you cancel your card before <%= Date.today %>, the following happens</p>
        <ul>
          <li>Avoid Fee <br> +$150/yr</li>
          <li>Avoid Fee <br> +$150/yr</li>
          <li>Avoid Fee <br> +$150/yr</li>
        </ul>
          <div></div>
          <h4>_ChurnIt Advice</h4>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui impedit soluta architecto laborum harum cupiditate quam reprehenderit, nostrum perspiciatis ex, exercitationem eius illum deserunt.</p>
      </div>
  </div>
</div>
