<h1>Pages#analysis</h1>
<div class="analysis">
  <div class="analysis-left">
    <div class="header">
      <p>Cancel your card before...</p>
      <p><%= Date.today %></p>
      <button>Add to Google Calender</button>
    </div>
    <h5>Factors</h5>
    <div class="factors">
        <div>
          <h5>Annual fee</h5>
          <sub>Your annual fee are high</sub>
          <p>more info</p>
        </div>
      <div>
        <h5>Annual fee</h5>
        <sub>Your annual fee are high</sub>
        <p>more info</p>
      </div>
      <div>
        <h5>Annual fee</h5>
        <sub>Your annual fee are high</sub>
        <p>more info</p>
      </div>
    </div>
  </div>
  <div class="analysis-right">
    <div class="right-header">
      <div>
        <a href="#">Solutions</a>
        <a href="#">Analysis</a>
        <a href="#">Forecast</a>
      </div>
      <div>
        <h5>_ChurnIt</h5>
      </div>
      </div>
      <div>
        <h4>Solutions & Next Steps</h4>
        <p>If you cancel your card before <%= Date.today %>, the following happens</p>
      </div>
      <div>
      <ul>
        <li>Avoid Fee +$150/yr</li>
        <li>Avoid Fee +$150/yr</li>
        <li>Avoid Fee +$150/yr</li>
      </ul>
    </div>
    <div class="right-footer">
      <h4>_ChurnIt Advice</h4>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui impedit soluta architecto laborum harum cupiditate quam reprehenderit, nostrum perspiciatis ex, exercitationem eius illum deserunt. Nihil asperiores nam voluptas similique iste!</p>
    </div>
  </div>
</div>
