// below is to keep links from changing color
a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit;
 }

.btn-main {
  background-color: #9404b8e6;
  color: $white;
  font-weight: 600;
  padding: 15px 40px;
  border-radius: 40px;
  text-decoration: none;
  position: relative;
}

.btn-main:link,
.btn-main:visited {
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  color: white;
}

.btn-main:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: white;
  position: relative;
}

.btn-main:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

// .btn-main::after {
//   content: "";
//   display: inline-block;
//   height: 100%;
//   width: 100%;
//   border-radius: 100px;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   transition: all .4s;
// }

.btn-main:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  color: inherit;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

.btn-link {
color: gray;
text-decoration: none;
}

.btn-link:hover, .btn-link:visited, .btn-link:active {
  text-decoration: none;
  color: inherit;
}
