// This page is for generic containers including flex wrappers etc.

// main container
.main {
  padding: 20px;
  height: 100vh;
}

// full-page flex wrapper
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.flex-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


// flex-middle is for forms etc. It doesn't stretch to edges of screen.
.flex-middle {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// flex main and flex middle arrange content horizonatally on larger devices
@media screen and (min-width: 900px){
  .flex-main, .flex-middle {
    flex-direction: row;
    max-width: 100%;
  }
}

// content divs for within flexbox
.content {
  flex: 1;
  padding: 20px;
}
