.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.loader.active {
  display: flex;

}
