// This page is for styling each section of the app.

// Home page
// Backgrounds will cover each section
#section0, #section1, #section2, #section3, #section4, #section5 {
    background-size: cover;
    background-position: center 80%;
}

#section0 {
  background-image: '../images/backgrounds/section-1-background.svg';
}

.center-content {
  width: 900px;
  margin: auto;
}

.icon {
  display: flex;
  justify-content: space-between;
}
