// This page is for styling each fullpage.js section in the app.

// Backgrounds will cover each section
.section {
  background-size: cover;
}

// Homepage
#section0 {
  background-image: url(https://res.cloudinary.com/fantastic-four/image/upload/v1646806242/gradient_good_2_rmkpbb.png);
  color: white;
  text-align: center;
}

#section0 h1 {
  top: 88px;
  font-size: 80px;
  padding: 20px;
}

#section0 a {
  top: 40px;
}
