// This page is for styling each fullpage.js section in the app.

// Backgrounds will cover each section
.section {
  background-size: cover;
}

.flex-wrapper {
  display: flex;
  object-fit: cover;
  flex-direction: row;
  justify-content: space-evenly;
}

// Homepage
#section0 {
  // background-image: url(https://res.cloudinary.com/fantastic-four/image/upload/v1646806242/gradient_good_2_rmkpbb.png);
  // background-image: url(https://res.cloudinary.com/fantastic-four/image/upload/v1646885527/ales-nesetril-ex_p4AaBxbs-unsplash_wkrnge.jpg);
  background-color: rgb(44, 43, 43);
  color: white;
  text-align: center;
}

#section0 #img-container {
  display: flex;
  align-self: flex-start;
  margin-left: -200px;
  height: 400px;
  top: 50%;
}

#section0 #text-container {
  display: flex;
  align-items: center;
  max-width: fit-content;
}

#section0 img {
  width: auto;
  max-height: 100%;
  filter: brightness(80%);
}

#section0 h1 {
  top: 88px;
  font-size: 80px;
  padding: 20px;
}

#section0 a {
  top: 40px;
}

.center-content {
  width: 900px;
  margin: auto;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230, 230, 230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230, 230, 230);
}

.icon h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.how-it-works-button{
  margin-left: 45vw;
  margin-top: 10vh;
  // text-align: center;
}
